body {
  padding: 0;
  margin: 0;
  font-family: 'Muli', sans-serif;
  color: #01161A;
  font-size: 100%;
}
h1 {
  font-family: 'Oswald', sans-serif;
  margin: 16px 0;
}
p {
  color: #374142;
  font-size: 1em;
  font-weight: 300;
}

/* main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page-title {
  padding-top: $xxl;
  @include above(small-screen) {
    padding-top: $xl;
  }
} */

/* small */
@media (min-width: 750px) {
}
/* medium */
@media (min-width: 960px) {
  body {
    font-size: 120%;
  }
}
/* large */
@media (min-width: 1080px) {
  body {
    font-size: 137%;
  }
}